body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display:flex;
    align-items: center;
    margin-left:none;
}

h1{
    margin: 10;
    padding-left: 10px;
}

.logo{
    position: absolute;
    right: 0;
}

nav {
    text-align: right;
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 0;
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
   
}
nav a:hover {
    background-color: #ddd;
}
.sobre {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.serviços {
    padding: 20px 0;
}
button{
    height: 100%;
    background-color: #ddd;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 40px;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    justify-items: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: none;
    margin-left: 500px;
}
a{
    text-decoration: none;
}
button:active {
    background-color: #cdf3ce;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.tpacotes {
    border: 1px solid #333;
    width: 80%;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    margin-left: 120px;
}
.tpacotes th{
    background-color: #333;
    color: #fff;
}
.tpacotes tr:nth-child(even) {
    background-color: #f2f2f2;
}
.imagens{
    margin:0 auto;
    align-items: center;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 120px;

}
footer {
    background-color: #333;
    color: #fff;
}
.text{
    text-align: center;
    color: #333;  
}
.formulario {
    background-color: #fff;
    text-align: center;
}
.button{
    position: relative;
    border-radius: 20px;
    text-align: center;
}
#cbform{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.textdecorado{
    border: 2px solid #f2f2f2;
    border-radius: 10px;
}
