body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 70px 0;
    display:flex;
    align-items: center;
    margin-left:none;
}

h1{
    margin: 10;
    padding-left: 10px;
}

.logo{
    position: absolute;
    right: 0;
}

nav {
    text-align: right;
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 0;
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
   
}
nav a:hover {
    background-color: #ddd;
}
.sobre, .serviços, .reservas{
    width: 80%;
    margin: 0 auto; 
    padding: 20px 0;
    text-align: center; 
}

.serviços, .serviços {
    padding: 20px 0;
}

.serviços h2 {
    margin-bottom: 20px; 
}

.serviços ul {
    list-style-type: none; 
    padding: 0; 
}

.serviços ul li {
    margin-bottom: 10px; 
}
.ml-md-3 {
    margin-left: 18rem; 
}
button{
    height: 100%;
    border: none;
    color: white;
    text-align: center;
    padding: 20px 40px;
    display: flex;
    margin: 4px 2px;
    justify-items: center;
    cursor: pointer;
    border-radius: 10px;;
    float: none;
    margin: 0 auto;
    padding-left: 20px;
}
.button-container {
    text-align: center; 
    margin-top: 20px;
}

a{
    text-decoration: none;
}
button:active {
    background-color: #cdf3ce;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.imagens {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.imagens img {
    margin: 10px; /* Adiciona espaçamento entre as imagens */
}


.tpacotes {
    border: 1px solid #333;
    width: 80%;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    margin-left: 120px;
}
.tpacotes th{
    background-color: #333;
    color: #fff;
}
.tpacotes tr:nth-child(even) {
    background-color: #f2f2f2;
}
footer {
    background-color: #333;
    color: #fff;
}
.text{
    text-align: center;
    color: #333;  
}
.formulario {
    background-color: #efeeee;
}
.button{
    position: relative;
    border-radius: 20px;
    text-align: center;
}
#cbform{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.textdecorado{
    border: 2px solid #f2f2f2;
    border-radius: 10px;
}
